.header__toolbar {
    display: flex;
    justify-content: space-between;
}

.header__logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-menu__button {
    border: none;
    border-radius: 0.5rem;
}

.header__nav {
    display: flex;

    a {
        text-decoration: none;
        color: #000000DE;
    }
}

.header__logout {
    color: rgb(95, 95, 95);
} 