mat-card {
    height: 8rem;
    margin: 0.7rem;
    padding: 0.5rem;
    background-color: #cfcbcb;

    transition: 0.2s ease-in-out;


    mat-card-content {
        margin: 0;
        padding: 0.7rem;
    }

    mat-card-footer {
        width: 100%;
        text-align: end;

        a {
            cursor: pointer;
        }
    }
}

.account-disabled {
    opacity: 0.6;
    transition: opacity 0.2s ease-in-out;
}

::ng-deep .mat-menu__customize {
    min-width: 3rem;
    max-width: 15rem;
}