mat-card {
    height: 8rem;
    margin: 0.7rem;
    padding: 0.5rem;

    mat-card-content {
        margin: 0;
        padding: 0.7rem;
    }

    mat-card-footer {
        width: 100%;
        text-align: end;
    }
}