mat-sidenav-container {
    height: 100%;
}


mat-sidenav {
    background-color: #f7f7f7;
    width: 18rem;
    
    .close-button__wrapper {
        display: flex;
        justify-content: flex-end;
    }
}

mat-sidenav-content {
    background-color: #fff;
    padding: 1rem 3rem ;

    .sidenav-content__container {
        display: flex;
        justify-content: space-between;
        height: 100%;
    }

}

