.main-page__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

.main__content {
    display: flex;
    justify-content: space-between;
    height: 100%;
    
    app-aside {
        width: 20rem;
        height: 100%;
        background-color: rgb(247, 247, 247);
    }

    .sidenav {
        width: 100%;
    }
}



