<header>
  <mat-toolbar class="header__toolbar">
    <div class="header__logo">
      <button class="header-menu__button" (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span>Budgetify</span>
    </div>
    <div class="header__logout">
      <a href="#"><mat-icon>logout</mat-icon></a>
    </div>
  </mat-toolbar>
</header>

<mat-sidenav-container>
  <mat-sidenav #sidenav mode="side" [(opened)]="opened">
    <ul>
      <li class="sidenav-list__item">
        <a href="#">Categories</a>
      </li>
      <li class="sidenav-list__item">
        <a href="#">Statistics</a>
      </li>
      <li class="sidenav-list__item">
        <a href="#">Transactions</a>
      </li>
    </ul>
  </mat-sidenav>
  <mat-sidenav-content>
    <h1>Here will be main content</h1>
  </mat-sidenav-content>
</mat-sidenav-container>
